# In class exercises - Intro to Pandas Series and DataFrames

## Import libs

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## First import 'response_time_data.csv' data file
* Contains RTs from 800 trials of a simple detection task from each of 20 subjects
* Organizing into a DataFrame and then saved out in csv format
* The index (row) and column labels are encoded in the csv file, so you'll need to read those in explcitly
* Make sure to have a look at the DataFrame - use the df.head() function

In [2]:
import os

cwd = os.getcwd()

cwd

fileName = cwd+'/response_time_data.csv'

fileName

dcDataFrame = pd.read_csv(fileName, index_col=0, header=0)

dcDataFrame.head() # check the first few rows n stuff

,Sub0,Sub1,Sub2,Sub3,Sub4,Sub5,Sub6,Sub7,Sub8,Sub9,Sub10,Sub11,Sub12,Sub13,Sub14,Sub15,Sub16,Sub17,Sub18,Sub19
Tri0,2797.224240,1039.571212,4045.345952,3530.934210,2410.276348,6541.494156,1977.919842,2343.555594,143.695964,8147.939691,5183.942423,4548.240971,2076.921296,4230.548795,4134.589984,2067.132295,4087.049471,2704.327437,2790.476384,5141.106292
Tri1,786.895089,3076.223066,1033.310418,3758.043454,4000.805778,2756.802996,2918.768116,2613.934992,2655.684434,7410.337807,3182.903975,4324.103096,1843.506277,1338.453235,2693.772203,7239.094853,1320.715043,4449.372349,1085.884483,3556.231671
Tri2,3516.902396,4632.818016,4874.066155,3031.377402,2485.677228,4929.841314,435.950399,3059.241733,2923.325600,3530.389021,3002.555229,7537.781867,1989.249165,4513.510928,4473.733040,7422.364759,3338.164717,4840.676786,2721.343095,1972.689272
Tri3,333.881830,104.448476,2304.093856,586.098266,4575.178155,2365.682721,1285.101296,5050.566343,2446.870606,5096.855057,1047.603006,5431.187785,2879.554454,311.319060,2814.385809,3396.500194,1324.780081,1518.991979,1676.395223,2051.924695
Tri4,6790.330061,2629.751046,3148.222058,1894.867975,2274.057485,8186.457041,1195.253881,3747.385847,1456.694541,3437.159878,6745.578676,4101.871682,1944.773775,1571.942134,3186.806328,6588.562378,2866.277989,2079.880840,1086.063139,7051.740732

## Now have a look at the data using built in Pandas functionality
* Check out the max/min of each row, standard deviation, percentiles, etc.

In [8]:
describedDataFrame = dcDataFrame.describe()
describedDataFrame#['Sub0'][1]
# etc...

,Sub0,Sub1,Sub2,Sub3,Sub4,Sub5,Sub6,Sub7,Sub8,Sub9,Sub10,Sub11,Sub12,Sub13,Sub14,Sub15,Sub16,Sub17,Sub18,Sub19
count,800.000000,800.000000,800.000000,800.000000,796.000000,800.000000,800.000000,799.000000,800.000000,798.000000,800.000000,789.000000,800.000000,797.000000,797.000000,800.000000,800.000000,785.000000,793.000000,800.000000
mean,3492.614323,2549.787915,2498.108943,3502.338174,2489.637962,4583.557298,2587.373753,3528.493482,1587.012676,4367.761563,3435.810762,4549.103034,2692.333031,2552.094429,4462.378792,4534.814089,2478.180462,2583.731375,2495.609643,4454.240975
std,1779.474153,1476.122674,1434.749989,1722.695784,1394.508376,2544.771595,1529.182544,2000.548574,1302.153904,1935.519959,1745.629161,2662.686275,2898.418570,1452.494803,2151.655387,1976.030065,1497.644375,2648.316102,1456.803723,2051.493761
min,14.891233,14.197194,28.100837,23.429444,4.830230,136.740733,10.661701,18.233925,0.901251,58.093045,26.364155,22.733277,14.216346,4.059415,96.592213,33.341363,9.004269,3.313442,7.725184,2.748561
25%,2248.698649,1453.328596,1444.344991,2175.921827,1414.327797,3023.974914,1463.653167,2251.310915,779.562818,3041.108793,2158.207883,3097.106818,1555.690051,1416.478814,2901.834126,3125.631520,1388.524601,1461.535583,1428.315218,2991.056220
50%,3356.267518,2332.504240,2378.456796,3425.256242,2331.301722,4343.188218,2401.344493,3265.333326,1452.880612,4204.734801,3279.606963,4350.778773,2419.020780,2423.938126,4173.081612,4386.667440,2336.277878,2384.647753,2398.363559,4309.543161
75%,4590.539997,3572.853241,3365.725589,4656.169105,3418.744846,5820.681164,3492.770757,4570.434788,2176.914650,5507.674898,4469.254371,5802.517750,3410.062004,3532.650336,5857.058982,5778.168708,3407.930817,3374.458484,3368.389173,5862.156850
max,10681.396388,9612.953879,7980.653894,9126.489066,7711.685320,45454.000000,9873.851872,29023.000000,24567.000000,12121.359168,10429.685156,56789.000000,66666.000000,9136.326298,11900.172137,11944.107999,8678.777609,65432.000000,7930.422240,12181.427300

In [43]:
dcT = dcDataFrame.T
describedT = dcT.describe()
describedT

,Tri0,Tri1,Tri2,Tri3,Tri4,Tri5,Tri6,Tri7,Tri8,Tri9,...,Tri790,Tri791,Tri792,Tri793,Tri794,Tri795,Tri796,Tri797,Tri798,Tri799
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,3497.114628,3102.242167,3761.582906,2330.070945,3599.183874,2454.028438,2689.257956,3172.087174,3024.418474,2478.815679,...,2538.573805,3581.135974,2872.575989,3160.523949,2445.402257,3274.075020,3167.994164,3071.845862,3162.664219,6261.514557
std,1876.863397,1817.540782,1716.308057,1660.179746,2231.765144,1573.211978,1439.639592,2352.641780,1319.850887,1721.335760,...,1467.651474,1701.246657,1396.011791,1777.496972,1385.099709,2436.097320,1703.669084,1937.936032,2167.106141,14409.466450
min,143.695964,786.895089,435.950399,104.448476,1086.063139,68.184823,501.585571,143.606176,1069.322671,233.150604,...,23.718172,1025.562265,154.592033,411.802772,264.346041,136.751172,39.055602,142.867085,15.529804,289.417464
25%,2276.897019,1717.243017,2872.829974,1225.726724,1932.297325,1152.245509,1709.157291,1366.364741,2144.272504,1309.017166,...,1631.142581,2442.829580,2146.373041,2498.450997,1255.707917,1464.754434,2230.385897,2080.769098,1871.627015,1673.676801
50%,3164.079225,2837.785556,3427.533556,2178.009276,3007.250023,2504.710230,2305.682308,2398.594215,2722.110211,2116.617089,...,2425.319892,3084.810577,2558.716373,2912.528374,2238.333222,2212.074730,2898.045614,2668.146140,2598.983576,2887.673175
75%,4309.971839,3818.734035,4684.782709,3008.790889,4723.544356,4022.898674,3599.156906,5887.879968,3792.342261,3238.150295,...,3429.305650,4396.502060,4049.903636,3757.935783,3659.329246,5626.941322,4313.935708,4051.385083,4317.697717,4265.317080
max,8147.939691,7410.337807,7537.781867,5431.187785,8186.457041,5268.016210,6009.945843,7505.781800,5277.547086,5802.017010,...,5387.471180,7865.373656,4981.495428,6936.139635,5213.908137,7542.080044,6383.009192,7408.190559,8621.009037,66666.000000

In [49]:
y= describedT.loc['mean']

In [ ]:
plt.plot(y)
plt.show()

## Are there missing values (NaNs) in the data?

In [4]:
np.sum(np.isnan(dcDataFrame), axis=0)

Sub0      0
Sub1      0
Sub2      0
Sub3      0
Sub4      4
Sub5      0
Sub6      0
Sub7      1
Sub8      0
Sub9      2
Sub10     0
Sub11    11
Sub12     0
Sub13     3
Sub14     3
Sub15     0
Sub16     0
Sub17    15
Sub18     7
Sub19     0
dtype: int64

## What about outliers? Lets define outliers here as > 2 * std away from the mean for each subject
* After you've found the outliers for each subject, replace those values with a np.nan (NaN)

In [5]:
d = dcDataFrame.describe()

# then use the std and mean fields to define the outlier limit for each subject
# then replace with NaNs

## After you've found the outliers and replaced with NaNs for each subject, check out this function:
[pandas.DataFrame.interpolate](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.interpolate.html#pandas.DataFrame.interpolate)

* Use this function to interpolate the missing values for each subject (do not interpolate across subjects!)
* Just use linear interpolation...

In [6]:
dcDataFrame.interpolate

<bound method NDFrame.interpolate of                Sub0         Sub1         Sub2         Sub3         Sub4  \
Tri0    2797.224240  1039.571212  4045.345952  3530.934210  2410.276348
Tri1     786.895089  3076.223066  1033.310418  3758.043454  4000.805778
Tri2    3516.902396  4632.818016  4874.066155  3031.377402  2485.677228
Tri3     333.881830   104.448476  2304.093856   586.098266  4575.178155
Tri4    6790.330061  2629.751046  3148.222058  1894.867975  2274.057485
Tri5    3047.828258   397.038302   114.215641  4089.899601  4049.434462
Tri6    2176.597045  3552.355757  1973.393087  4362.043226  5170.251441
Tri7    7505.781800  3250.115237  1378.417119  5991.874045   143.606176
Tri8    3290.277151  2180.419440  1069.322671  5277.547086  2287.661406
Tri9    1881.581897  1168.334372  2808.512816  2198.630268  1688.488219
Tri10   3646.313933  1625.659863  3206.440179  1194.569715  1939.383734
Tri11   3931.516192   192.566645  1403.470198  3397.295729  4681.754010
Tri12   4308.815582  1591.300260  5504.718659  4046.082575  2555.540064
Tri13   2004.232508  1972.600035  2536.188940  1908.891889  4091.166301
Tri14   6017.817486   644.955912  1987.820582  2354.542490  1388.969163
Tri15   2601.305283  3594.655184  2371.459375  3938.344443  2853.166655
Tri16   3999.043797  2071.515703  3385.070117  3601.361161  6218.904091
Tri17   1372.419652  1848.213972  4248.673137  3914.271056  3890.512470
Tri18   3650.763986  5793.498266  2728.329610  2176.302848  3461.945292
Tri19   4590.144644  2738.871921   271.504916   438.603787  1240.028763
Tri20   1789.110026  2564.281719  2561.038387  3934.218428          NaN
Tri21   2350.865209  3983.865823  1377.567893  9126.489066          NaN
Tri22   6952.390799  2063.316230  1535.851635  2888.308373          NaN
Tri23   3981.190750  3247.512882  3721.031070  2099.836777          NaN
Tri24   1018.919604  2192.488372  2749.424948  2821.333287  1414.676045
Tri25   2315.087241  2201.058303   719.014381   737.305297  4660.901242
Tri26   3425.943052  2960.328053  2058.422909  2792.324988  2366.328681
Tri27   3343.105868  3245.563710  4974.583632    23.429444  4954.807144
Tri28   2170.474769  3573.187792  5821.914517  4277.443964  1570.902741
Tri29   3201.988624   878.496721  1157.160637  6449.023514  2686.624157
...             ...          ...          ...          ...          ...
Tri770  5019.916501  4064.509064  1367.441537  8775.582668   338.933307
Tri771  1067.207049  1824.416712  4162.917234  4704.614259  2765.201984
Tri772  3397.691127  4499.183734  4694.741869  3151.216275  4963.785263
Tri773  4656.609071  3744.545650  2766.966958  3974.311001  3162.852076
Tri774  2418.176006  1269.214989   429.276661  4838.812325  2270.762832
Tri775  4193.896082   717.222895  4798.294129  3759.457306   478.139010
Tri776  3867.848234  1067.792534  1234.102840   654.158484  3203.563016
Tri777    98.144376  2967.010519  2830.656654  2309.465464  2162.254722
Tri778  3297.471584   951.434209  2841.784763   478.314962  3524.684787
Tri779  2766.458882   169.207955   254.220834  2357.865661  2070.051795
Tri780  7817.950598  4521.403690  2209.031340  1168.414376  1646.438184
Tri781  2166.200067  2618.547401  1943.968624  3723.972678  5701.735032
Tri782  4061.651777  4843.316872  2482.546419  5583.087318  3776.654648
Tri783  4512.227419  5302.798055  2578.994089  5684.708426  1381.963299
Tri784  2540.205777  4304.778987   264.197193  1581.844516  3188.623823
Tri785  3178.225080  2675.996929  2086.933364  1962.469033  3912.100908
Tri786  5238.408861  2913.243255  3646.573149  1314.935500  2956.068170
Tri787  2128.680509  2615.667125  2985.848542  4934.076919  3415.574392
Tri788  3289.598040  2956.095462   901.943606  1275.708524  2164.302010
Tri789  7350.937724  2046.717222  1458.223500  5202.262902  4848.945756
Tri790  3243.676806  1694.553655  2344.315812  2093.984587    23.718172
Tri791  4241.495791  5087.653798  5495.040211  4861.520865  1025.562265
Tri792  4900.900043  3954.822348  2524.760414  2699.453959  1582.150397
Tri793  6936.139635   411.802772  2595.375316  2453.825767   811.040228
Tri794  3652.329824   993.739769  1762.244401  2352.389475   264.346041
Tri795  5720.511789   501.683922  5848.032897  1639.001703  2936.390224
Tri796  2758.573646  1200.771552  2056.665250  4398.357093  1472.701630
Tri797   391.748935  2201.052837  2588.827514   673.316629  2406.120513
Tri798  3512.765929  1499.012107  3825.258417  4856.997083  1995.831984
Tri799  3899.095343   289.417464   660.403372  3381.583696  2974.408302

               Sub5         Sub6         Sub7         Sub8         Sub9  \
Tri0    6541.494156  1977.919842  2343.555594   143.695964  8147.939691
Tri1    2756.802996  2918.768116  2613.934992  2655.684434  7410.337807
Tri2    4929.841314   435.950399  3059.241733  2923.325600  3530.389021
Tri3    2365.682721  1285.101296  5050.566343  2446.870606  5096.855057
Tri4    8186.457041  1195.253881  3747.385847  1456.694541  3437.159878
Tri5    4025.464731  2638.680380  1885.518602   307.874145  1883.111558
Tri6    6009.945843   724.758133  3600.654491   501.585571  3658.042950
Tri7    6485.648064   543.664039  2136.843938  1224.511880  6117.384527
Tri8    5077.853063  2893.314803  4536.102482  2106.468811  1775.207528
Tri9    2049.245976  1336.294530  4475.980197   341.613792  1397.717855
Tri10   1879.157591  4970.830739  4134.752286  1298.460972  1956.628409
Tri11   6591.613394  2980.007209  2485.156212   522.050951  4378.778873
Tri12   5113.426538  2593.246610  4443.971194  2563.882354  5391.326624
Tri13   1679.608773  7583.853123  4023.633503  1786.137313  3038.511977
Tri14   2372.667094   479.298797  1233.238617  3057.372752  3146.273531
Tri15   4711.309827  3898.284833  3572.704270  1310.699188  4263.843023
Tri16   4637.388191  3305.677185  4283.664183   692.242028  2030.449406
Tri17   3076.043021  1293.978527  6441.018287  1816.063502  2344.698770
Tri18   6076.972257  2195.460676  5416.264595  1369.246142  5103.076196
Tri19   3096.072433  2370.345165  4593.902987  3272.597687  4735.979486
Tri20   4041.204419  2452.776553  2294.776565  1931.331379  7175.587179
Tri21    769.143341  7671.032392  7018.641416  1765.476153  3308.479365
Tri22   5570.172691  3200.852884  5913.022804   427.591714  3944.805607
Tri23   6456.138963  2025.538783  2661.638491  1088.332466  6264.921509
Tri24   4442.560508  3913.692260  5384.410278    32.019499  4496.280231
Tri25   3314.228722  1319.019511  2356.782408  1474.041409  1173.689771
Tri26   5725.728257  1011.737895  2399.555806  2611.716052  5671.847403
Tri27   2755.752430  1775.584328  5829.767282  2597.394722  6390.433703
Tri28   5864.062179  1338.712402  2062.441171  1444.139181  4584.654047
Tri29   4180.357765   213.195206  3046.308331  2865.075881  2478.623834
...             ...          ...          ...          ...          ...
Tri770  5673.397942   201.555076   951.357610  1083.986038  5877.593687
Tri771  6165.689173  3685.599231   989.469420   968.723980  4575.109982
Tri772  1619.179021  3265.231143  1790.337031  2243.599203  2481.871935
Tri773  8407.932097  6367.501041  2578.515791  1468.488071  3813.408616
Tri774  4255.242571   504.107442  1331.564119   234.181038  6640.959184
Tri775  6411.768042  4490.491911  2009.480471  1942.847743  6595.750322
Tri776  3217.279066  2788.954247  3148.277638   518.757154  2951.581858
Tri777  8827.325748  2478.898257  2860.291126  1468.474202  5147.091903
Tri778  6830.768774   620.907696  1336.452789   806.585847  3646.037162
Tri779  8638.329319   921.568698  6357.642769   258.042764  2535.568721
Tri780  4518.513887  1539.082013  2457.480226  1854.247566  4798.221013
Tri781  4603.053869  3837.779144  6213.238599  1109.216533  2886.795295
Tri782  4889.167584    91.023169  5144.803793   872.353912  5245.525835
Tri783  3201.360763  2955.110545  2796.015949   801.468903  3482.892508
Tri784  4916.915400  1271.450194  2508.160115   960.773504  4099.163390
Tri785  2760.507987  3793.263433  3648.752066   398.947275  4893.616568
Tri786  1071.147436  4573.025632  6336.101709  2818.608634  4079.710392
Tri787  5916.007327  2115.014262  3506.908774   859.124963  4940.416967
Tri788  2184.235727  1458.000263  4911.060084  1541.282125   174.671708
Tri789  1880.746647  3848.263144  4417.737087  1593.627485  3482.833496
Tri790  4036.942422  1265.821139  2851.234205  1440.909358  3306.251916
Tri791  4214.275471  2195.825507  3968.874438  2670.125420  3156.023532
Tri792  4981.495428  2407.897795  2556.285151   154.592033  4978.688022
Tri793  5368.058274   965.098473  2850.724747  2684.192440  2513.326074
Tri794  3680.327512  1303.707425   755.928403  3871.896900  2683.998126
Tri795  7237.432080  2189.760828  3736.202494   402.242045  5595.751166
Tri796  3937.958260  3965.507331  2583.617168    39.055602  6383.009192
Tri797  3820.982569  2499.304673  7408.190559   142.867085  6556.225167
Tri798  3384.769551    15.529804  2587.426839  1123.376025  8621.009037
Tri799  3617.110168  5387.409598  1604.109933   546.043986  1696.865757

              Sub10         Sub11         Sub12        Sub13         Sub14  \
Tri0    5183.942423   4548.240971   2076.921296  4230.548795   4134.589984
Tri1    3182.903975   4324.103096   1843.506277  1338.453235   2693.772203
Tri2    3002.555229   7537.781867   1989.249165  4513.510928   4473.733040
Tri3    1047.603006   5431.187785   2879.554454   311.319060   2814.385809
Tri4    6745.578676   4101.871682   1944.773775  1571.942134   3186.806328
Tri5    4216.585496   3179.854036   2370.740080  1178.494818   2048.812602
Tri6    1796.353749   2115.447625   2434.767571  2890.637333   1354.310794
Tri7    2269.914529   5853.215276   1970.536378  2433.792597   2363.395834
Tri8    3120.339818   2296.467312   3544.422187  4943.839493   2156.873736
Tri9    5802.017010   1227.185074   2183.988202   266.188603   5280.917742
Tri10   2732.487735   9493.147896   2475.476740   738.715809   2294.571907
Tri11   3018.287764   2650.184176     14.216346  3716.312716   6855.044510
Tri12    292.409469   4356.282690    579.064560  3869.193105   4032.326761
Tri13   3821.388413   3700.112011   2047.432799  3722.822930   3277.862188
Tri14   8460.181684   5154.616079   3210.443053  2303.223106   8024.009754
Tri15   1057.886020   2406.319185   2624.236741  4550.713883   3741.835217
Tri16   3598.057871   1374.546938   1480.611011  3241.384679   6352.487413
Tri17   1640.920209   5323.168630   3648.912380  2760.721103   7033.016570
Tri18   2892.060496   3892.435508   1295.714144    20.223690   3690.530028
Tri19   5122.880850   5917.462942   4162.275122  1684.470084   6845.328218
Tri20   3183.754138   3513.924554    905.013956   354.741832   3134.348455
Tri21   6039.588712   5881.403433   1107.831738  2119.146723   8965.077468
Tri22   2765.051691   4495.600498   3512.207504   105.080751   5065.155604
Tri23   2461.335394   6783.466281   3711.174364  1367.747318   2005.241990
Tri24   1248.691549  10061.049263   1844.528675    70.768552   2701.317234
Tri25   6404.474740   2472.570804   4559.196652  3857.026459    259.467407
Tri26   4001.436040   4696.457379   1134.304194  1819.079808   6214.829225
Tri27   2748.032360   6592.437245   2420.918590  2744.339671   5943.495369
Tri28   4684.956953   5955.686112   3997.029107   765.461186   5388.946834
Tri29   5169.539096   4025.666201   2542.109754  4541.154907   2248.276335
...             ...           ...           ...          ...           ...
Tri770  3119.652408   2362.919913   6689.664963  2072.202080   2514.064633
Tri771  9753.921246   3260.280990   3127.255327  3225.607562   7179.086423
Tri772   271.979249   4683.880827   1833.226420  1614.501208   3468.347864
Tri773  4232.841624   4911.570825   1306.936657   788.957415   5232.178707
Tri774  7119.668571   3765.241232   1785.795915  4049.183809   2139.079636
Tri775  2993.944692   9133.851062   1543.894241  2566.416763   2707.591795
Tri776  4466.085911   3913.510325   1199.334758  1727.319198   4205.028277
Tri777  4142.964627   3251.302244   1583.446266  1697.757692   4261.867278
Tri778  3950.351432   3485.024897   2994.188239  1890.126270   4927.337239
Tri779  2768.048500   4750.922044   1521.796345  4805.708894   2475.995081
Tri780  5150.004163   4877.891921   2463.586500  4265.530199   9967.211069
Tri781  3343.142757   2819.349929   3435.038451  2418.785876   3636.622377
Tri782  4193.368972   4771.494334   1771.322195   429.060815   4600.581774
Tri783  5290.363098   3598.456412   2796.495510  1784.838728   9772.163046
Tri784  5635.382637   3356.074128   7545.226232  3321.584433   4911.424018
Tri785  1483.857764   3616.735482   1998.957711  2276.026674   1227.204617
Tri786  2737.993637   4876.308107   5109.967130  5726.623855   3034.382265
Tri787  5950.282079   5946.166274   2647.391623  2919.751553   3104.521870
Tri788  3404.728624   2039.753417   7661.254945  2544.937856   2894.085134
Tri789   769.815872   6670.988020   3709.102105   942.520302   5479.051571
Tri790   472.812681   3221.144680   2506.323972    90.638872   4275.492316
Tri791  2545.030986   2442.954517   1900.092851  2442.454770   6214.298962
Tri792  2561.147596   2858.224862   3494.033013  2528.649277   4620.321971
Tri793  3618.164732   3276.868665   3180.597515  2632.676571   4177.248934
Tri794  4147.292883   3366.155548   1678.173084  1590.286219   1111.709391
Tri795  1987.623617   7542.080044   1492.020524  6880.514189   2142.064144
Tri796  2318.258457    542.198202   2288.292780  4285.795246   4474.289141
Tri797  3987.742202   4242.313725   3207.331648  2747.464767   4554.053595
Tri798  2499.401219   2610.540313   2374.118832  5634.330496   4158.168942
Tri799  1775.251366    507.863181  66666.000000  2800.938048  10366.926894

               Sub15        Sub16        Sub17        Sub18        Sub19
Tri0     2067.132295  4087.049471  2704.327437  2790.476384  5141.106292
Tri1     7239.094853  1320.715043  4449.372349  1085.884483  3556.231671
Tri2     7422.364759  3338.164717  4840.676786  2721.343095  1972.689272
Tri3     3396.500194  1324.780081  1518.991979  1676.395223  2051.924695
Tri4     6588.562378  2866.277989  2079.880840  1086.063139  7051.740732
Tri5     5268.016210  3215.274112  1073.497581    68.184823  4022.043321
Tri6     2957.510350  1447.567916  2020.893616  3598.657711  1439.384910
Tri7     1330.207606  6592.484324  3009.042214   256.578248  2584.729650
Tri8     4923.989022  1152.021083  2550.905619  1914.428198  3390.908581
Tri9     4852.981861  2825.540327  2645.230368   233.150604  4912.713861
Tri10    1304.651870  3412.442107  2469.096865  2715.130258  4059.136955
Tri11    1247.417970  1424.223869  3058.837397  4825.153445  1377.779459
Tri12    3886.207190    37.948280  2477.456413  7079.723259  2880.058505
Tri13    3697.007382  4759.422285  1278.100407  1124.765465  6248.230659
Tri14    1431.502336  2805.812304   209.452649    29.286915  5605.288288
Tri15    1844.605678  6603.612971  1632.182450  1717.001177  4712.964280
Tri16    4769.807630   345.901126  4162.285050  3181.815704  1458.025873
Tri17    5071.046489  2946.679451   293.872467  2713.797467  2096.062075
Tri18    1439.286201  3331.125830  1405.362358   674.766149  2690.896212
Tri19    6875.100886  4941.876044   194.371185  1230.682272  2914.678469
Tri20    5414.503988  1859.883386  1044.368043  2518.770276  3580.021139
Tri21    3400.401330  1074.646940  1467.227139   385.817210  4313.807516
Tri22    2852.460376  4284.974905  2193.340876  3922.917090  6555.267030
Tri23    3895.996977  2927.525147   567.936693  1042.124277  3309.478267
Tri24    1849.193271  1006.852834  2177.662910  2369.823241  5870.730322
Tri25    3718.624366  2832.405129  3471.125966   641.862063  6200.306855
Tri26    6221.959882   587.611647  1666.117688  2720.337090  4027.341897
Tri27    7500.719769  2714.634138  7112.070673  5129.402693  4819.212577
Tri28    4428.598436  1248.906561  1018.562576  3137.521116  6439.059402
Tri29    1793.347533  2628.103511  2009.567507  2917.641000  4727.321301
...              ...          ...          ...          ...          ...
Tri770   5782.253033  4552.410543   599.925866  6530.951552  4476.679376
Tri771   3611.052917  1488.165287  1476.624888  2159.477844  4498.994106
Tri772   8765.415950  1874.198809   253.650458  2037.577829  1747.981551
Tri773   7744.999475  2431.965152  1124.090837  4099.034461  1799.347268
Tri774   4870.585618  2632.308370  3795.825698  2065.665001  3533.836049
Tri775   6623.910297  2296.817615  2326.063114  2347.697164  6363.048613
Tri776   1562.338556  1253.087894   410.695565  3501.688532     2.748561
Tri777   2202.733356  1664.096491  2378.824201  4098.729006  5782.275558
Tri778   5385.048180  2319.536252  1521.943637  1293.826140  2437.975909
Tri779   4010.560573  2442.238703  6155.067426   309.268802  9756.056048
Tri780   5937.764403  3818.379737  4254.809643  1406.563422  1567.109027
Tri781   3323.130071  2435.475981  4292.748327  4394.921029  6253.286042
Tri782   3524.216961  2203.234922  3354.132763  2368.453683  1215.275650
Tri783   3328.015043  3131.552793  2842.630050  2030.780214  5674.758932
Tri784   5311.235279  1182.473205  1574.729324  1769.274038  4833.789380
Tri785   1307.779651  1424.313033  5475.595613    68.064516  5764.741121
Tri786   6650.716001   701.892300  2014.426850   474.145463  1808.045100
Tri787  11944.107999  1945.940434  4468.438433  2235.748193  4600.845751
Tri788   2097.406197  2449.789623  1448.160036  3401.964887  3665.907181
Tri789   7768.737201  5859.259133  2514.644353  2223.532546  7356.801290
Tri790   3798.466850  2079.536187  2195.845083  5387.471180  4442.336218
Tri791   4050.510949  7865.373656  2537.442123  1694.565744  3013.597621
Tri792   4335.147502  2334.447255  1097.150962  1473.579019  1407.772727
Tri793   5353.417143   715.903707  2974.332001  3540.085232  6151.600761
Tri794   5213.908137  2124.276970  4069.081407  1036.131331  3250.122298
Tri795   2234.388631   136.751172  1083.664338  4792.428429  1382.956162
Tri796   2870.842825  2925.248404  5155.599839  3694.720953  6008.420714
Tri797   3960.482559   832.471194  5070.439599  1719.917882  2426.063597
Tri798   6531.309088  4796.284042   684.373971   362.226794  2180.553914
Tri799   5457.655852  3485.996834  2704.862279  2044.366784  5363.982290

[800 rows x 20 columns]>

## You can explore the "Missing Values" page for Pandas to figure out other ways of filling in missing values and outliers

[page is here](https://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data)

* Figure out how to replace the outliers with the mean of each subject

## Use the Pandas.DataFrame.Sample function to generate bootstrapped confidence intervals for the data from subject 11

[see this page for Samples](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.sample.html)


* Resample Sub11's data with replacement, each time pulling N samples (800 in this case)
* Generate a distribution of means across all resamples
* Compute 95% confidence intervals using:

[this page for quantiles](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.quantile.html)